img {
    width: 200px;
    height: 200px;
}
.title {
    font-weight: 400;
}
#red {
    color: red;
}
#blue {
    color: blue;
}
#orange {
    color: orange;
}
#green {
    color: green;
}
#yellow {
    color: yellow;
}